.navBar {
  box-shadow: 0 0 10px lightgray;
}

.navBar * {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navBar a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.navBar :hover {
  color: green;
  transition: 0.5s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hasNavbar {
  padding-top: 100px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}

.quoting {
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

.quoting span {
  color: #000000;
  font-size: 30px;
}
